<div style="background-color:#f2f2f2; border-left: 8px solid #2e8b57; padding: 20px; border-radius: 10px; font-family: Arial, sans-serif;">

<center>

<h1 style="color:#2e8b57;">Introducción a la programación en Python</h1>
<h2 style="color:#2e8b57;">Instituto Mexicano del Petróleo</h2>

<p style="font-size:16px; color:#333;">
<strong>Dra. Gabriela Berenice Díaz Cortés</strong><br>
<em>gbdiaz@imp.mx</em>
</p>

<p style="font-size:16px; color:#333;">
<strong>Dr. Luis Antonio López Peña</strong><br>
<em>llopezp@imp.mx</em>
</p>

<p style="font-size:15px; color:#555;">
Dirección de Investigación <br>
Gerencia de Investigación en Explotación
</p>

</center>

</div>

## **Introducción a Python**

* **Python**
    - Instalación de Python
    - Formas de ejecutar un código (desde consola o IDE)
    - IDE más comunes
    - Colaboratory

* **Definición de variables**
    - Palabras restringidas
    - Números enteros y reales
    - Carácteres
    - Leer datos de terminal
    - Conversiones de datos

* **Tipos de objetos en Python**
    - Tuplas
    - Listas
    - Diccionarios
    - Conjuntos

# Python
Python es un lenguaje de programación libre orientado a objetos, desarrollado a finales de los 80's. Desde su creación se sigue desarrollando y refinando. 
Algunas referencias son:
* Sitio web con manuales y más información: https://www.python.org/about/, http://docs.python.org/py3k/tutorial.
* Introduction to Python for Computational Science and Engineering, Hans Fangohr
* Python, Chris Fehly (Peachpit Press, CA, 2nd ed.)
* Python Essential Reference, David M. Beazley (Addison-Wesley, 4th ed.)
* Primer on Scientific Programming with Python, Hans P. Langtangen (Springer-Verlag, 2009)

## Instalación
Para ejecutar un código escrito en Python se recomienda usar un IDE (integrated development environment), es un paquete de software que tiene las herramientas básicas necesarias para escribir y probar software. Los IDE's incluyen un editor de código, un compilador, un depurador y un entorno gráfico. 

En este curso usaremos la distribución gratuita [Anaconda][], que contiene el IDE Spyder y el block de notas [Jupyter][], que es un ambiente computacional interactivo, en donde se combina texto, se ejecuta codigo, y se obtienen graficas. 


Los pasos del instalador se encuentran en este sitio [Anaconda_st][]

Para utilizar el block de notas [Jupyter][], se pueden consultar los siguientes manuales: [Jupyter_manual] y [Jupyter-notebook].

[Spyder]:   https://www.spyder-ide.org/
[Anaconda]: https://www.anaconda.com/
[Anaconda_st]: https://www.anaconda.com/docs/getting-started/anaconda/install
[Jupyter]:  https://docs.jupyter.org/en/latest/
[Python 3.7]: https://repo.anaconda.com/archive/Anaconda3-2019.03-MacOSX-x86_64.pkg
[Jupyter_manual]: https://docs.jupyter.org/en/latest/
[Jupyter-notebook]: https://jupyter-notebook.readthedocs.io/en/v7.3.3/notebook.html


### Formas de ejecutar el código 

## Creación de entornos virtuales

Para instalar librerías se recomienda crear un **entorno virtual** e instalar las librerías requeridas para cada proyecto en el entorno correspondiente al proyecto en cuestión.


### Entorno virtual en terminal
Para crear un entorno virual en linux o en la terminal de windows se abre la terminal, en el caso de windows la terminal se encuentra en *Anaconda Prompt*, una vez abeierta la terminal, los pasos a seguir son los siguientes:

<img src="https://github.com/gbdiazc/Images/blob/f2031a840a330db98a65ac392e85a34acd040904/anaconda_promt.png?raw=1" width="600">

1.   Crear entorno virtual: 

`\$conda create -n my_env`


2.   Activar entorno virtual:

`\$conda activate my_env`


### Entorno virtual en Anaconda navigator

Se crea un entorno virtual con python

<img src="https://github.com/gbdiazc/Images/blob/da07a190294b9890e4fb4490980932bbec822524/new_env.png?raw=1" width="600">


#### IDEs

##### Spyder 

<img src="https://github.com/gbdiazc/Images/blob/da07a190294b9890e4fb4490980932bbec822524/spyder.png?raw=1" width="600">

    
    Se guarda el archivo exemplo.py

    Boton de correr 

<img src="https://github.com/gbdiazc/Images/blob/da07a190294b9890e4fb4490980932bbec822524/spyder1.png?raw=1" width="600">

Jupyter Notebook (Colaboratory)

<img src="https://github.com/gbdiazc/Images/blob/main/jupyter-notebook.png?raw=1" width="600">

<img src="https://github.com/gbdiazc/Images/blob/main//notebook.png?raw=1" width="600">
    
    Se crea el archivo file.ipynb
    
    Se crea una nueva celda de código

    Boton de correr 



#### Desde consola (linux) con archivos .py

    Se crea el archivo file.py

    Se carga el ambiente virtual que contiene python

    Se escribe en terminal 
        
        python file.py

# Palabras restringidas

Los lenguajes de programación reservan ciertas palabras que tienen un significado especial. Estas palabras se llaman palabras clave "keywords".
Con estas palabras el programador puede emitir comandos para el compilador o intérprete, estas palabras clave son palabras reservadas que no sepueden usar como nombres de variables.
Las palabras clave más importantes de Python son las siguientes:

\begin{array}{c c c c} 
False & True& and & or   \\ 
not & break & continue & class\\
def & if & elif & else \\ 
for & while & in & is\\ 
None & lambda& return& len\\
del & type & str & float\\
int &  &  & \\
\end{array}

In [ ]:
1 > 2

In [ ]:
2 > 1

In [ ]:
x, y = True , False
(x or y)

In [ ]:
(x and y)

In [ ]:
( not y)

In [ ]:
42 in [ 2 , 39 , 42 ]

In [ ]:
y = x = 3
x is y

In [ ]:
[3] is [3]

In [ ]:
[3] == [3]

In [ ]:
[1] in [[3],[2]]

In [ ]:
3 in [3]

In [ ]:
len([ 2 , 39 , 42, 2 ] )

## Definición de variables
En python se pueden usar variables tipo entero, flotantes, caractéres, etc. Para definir una variable como flotante se usa un punto (__numero.0__ ), y para caractéres se usan comillas (**'carácter'** o **''carácter''**). Para ver que tipo de variable es, se utiliza la funcyón **type**.

In [ ]:
b = 2        # b entero
print(b, type(b))

In [ ]:
b = 2.0      # b flotante 
print(b, type(b))

In [ ]:
b = '2.0'  # b es un caracter 
print(b, type(b))

**Ejercicio**
Asignar el valor 2 a la variable x y el valor 3 a la variable y e imprimirlas

Sumar ambas variables en z e imprimirla

Borrar la variable x e imprimir todas las variables

In [ ]:
# Respuesta

**Ejercicio**
Dados x = 10 and y = 3, calcular las siguientes operaciones e imprimir los resultados

```
u = x + y
v = x*y
w = x/y
z = x - y
r = x**2
s = y*3
p = x**y
```

In [ ]:
# Respuesta

**Ejercicio**
Contar el número de letras que tiene la siguiente oración e imprimir la oración, seguida del número de letras que tiene, 

    x = "Instituto Mexicano del Petróleo" 
    
    y = "Tu nombre completo"

In [ ]:
# Respuesta

### Caracteres (Strings)
Los caracteres se pueden crear de las siguientes formas

1. Comillas simples

**s = 'caracter'**

2. Comillas dobles

**s =  "caracter"**

3. Comillas triples (multi-linea)
**s = 
"""caracter**

**numero uno"""**

4. Metodo de caracter

**s = str(5 ) ==  '5'**

5. Concatenacion

**s ="Nom" +  "bre"**

In [ ]:
#1. Comillas simples

s = 'caracter'

print(s,type(s))

In [ ]:
#2. Comillas dobles

s =  "caracter"

print(s,type(s))

In [ ]:
#3. Comillas triples (multi-linea)

s = """Este es un caracter

Para un 

texto mas 

largo"""

print(s,type(s))

In [ ]:
#4. Metodo de caracter
n = 5
print(n,type(n))
s =  str(n)
print(s,type(s))
t = str(2)
print(int(s)+int(t))

In [ ]:
# 5. Concatenacion

s ="Ma" +  "rio"

print(s,type(s))

# Espacios en blanco

    * Línea Nueva línea \n
    * Tab \t

In [ ]:
s ="Nombre: Mario, Edad: 5"

print(s)

In [ ]:
s ="Nombre: Mario,\nEdad:\t 5"

print(s)

In [ ]:
## Indexing & Slicing
s = "La persona más joven tiene 11 años"
print(s[0])

In [ ]:
print(s[0:4])

In [ ]:
print(s[-1])

In [ ]:
print(s[-3:-1])

In [ ]:
print(s[-2:])

In [ ]:
x = s.split()
print(x)

In [ ]:
print(x[-2] + " "+ x[-1] + " "+x[-3] + "s")

In [ ]:
import re # regular expressions
m = re.split(r'\W+', s)
print(m)

In [ ]:
m[0]

In [ ]:
m[0:3]

In [ ]:
m[-3:-1]

In [ ]:
m[-3:]

In [ ]:
s = m[0]+m[1]
print(s)

In [ ]:
s = m[0]+" "+ m[1]
print(s)

In [ ]:
# Minusculas
s = "La persona más joven tiene 11 años"
print(s.lower())

In [ ]:
# Mayusculas
print(s.upper())

In [ ]:
s = "smartphone"
print(s.startswith("smart" ))

In [ ]:
print(s.endswith("phone"))

In [ ]:
s = "another"
print(s.find("other"))

In [ ]:
print(s[2:])

In [ ]:
s = "chechatch"
print(s.replace("ch", "m"))

In [ ]:
print(''.join(["F", "B", "I"]))

In [ ]:
print(len("earth"))

In [ ]:
print("ear"in"earth")

**Ejercicio**
Asigne la cadena 'HOLA' a la variable s1 y la cadena 'hola' a la variable s2. Usa el operador *==* para mostrar que no son iguales. 

Mostrar que s1 y s2 son iguales si se usa el método *s1.lower()* en s1. 

Mostrar que s1 y s2 son iguales si se usa el método *s2.upper()* en s2

In [ ]:
# Respuesta

## Leer datos de terminal
En python se pueden leer datos de teclado con la función **input()**. 
Esta funcion lee todo como cadenas de texto.

In [ ]:
# Leer texto
texto = input()
print("Se leyo el siguiente texto: ",texto)
print("De tipo ",type(texto))

In [ ]:
# Además, la función input puede tener un parámetro indicando al usuario que debe ingresar
mes = input("Ingrese mes: ")
print("Se leyo el siguiente mes: ",mes)
print("De tipo ",type(mes))

# CASTING (Conversiones de tipo de dato)
Si la función **input()** lee un texto y queremos que lo convierta en entero, se hace una conversion con la funcion **int()**.

In [ ]:
numero = input()
print("Se leyo: ",numero)
print("De tipo ",type(numero))

In [ ]:
# Se convierte en entero
entero = int(numero)
print("El numero leido : ",entero)
print("Se convirtio en tipo ",type(entero))

In [ ]:
# Version simplificada
entero = int(input())
print("El numero leido : ",entero)
print("Se convirtio en tipo ",type(entero))

Si queremos que lo convierta en decimales, se hace una conversion con la funcion **float()**.

In [ ]:
numero = input()
print("El numero leido : ",numero)
print("Es de tipo ",type(numero))

decimal = float(numero)
print("El numero leido en decimal: ",decimal)
print("Se convirtio en tipo ",type(decimal))

In [ ]:
# Version simplificada
decimal = float( input())
print("Numero leido : ",decimal)
print("Se convirtio en tipo ",type(decimal))

**Ejercicio**
Realiza un código que tome 2 numeros dados por un usuario y verifique si la suma es menor, mayor o igual que 5

In [ ]:
# Respuesta

**Ejercicio**
Realizar un código que lea dos números de terminal y una operación, y que imprima la operación que se está realizando, asi como los resultados, elegir una de las siguientes operaciones:

    "+"

    "-"

    "*"
    
    "/"

In [ ]:
# Respuesta

# Objetos en Python
Python tiene dos tipos de objetos para manejar varios números o secuencias de caractéres.
* **Listas: b = [0, 1, 2, 3, 'cuatro', 'cinco']**
* **Tuplas (Tuples): b = (0, 1, 2, 3, 4, 5)**

En Python, el primer elemento es el cero **(0)**, si la lista o el carácter contiene **(N)** elementos, el último elemento es el __N-1__. Un elemento de una lista o un carácter se obtiene usando parentesis cuadrados **(variable[numero de elemento])**. La principal diferencia entre una tupla y una lista, es que las tuplas son inmutables, es decir nos e pueden modificar.

In [ ]:
# Listas
List  = ['string', 1, 2]               # Crear una lista
print(List)

In [ ]:
print(List[0],type(List[0]))           # Selecciona el primer elemento de la lista

In [ ]:
print(List[2],type(List[2]))           # Selecciona el último elemento de la lista

In [ ]:
print(List[0:2])                       # Selecciona los primeros dos elementos con posición 0 y 2 sin el último elemento (2)

In [ ]:
List2 = [[3, 4],List]                  # Hacer una lista de listas
print(List2 )

In [ ]:
List2.append(1)                        # Agregar el valor de 1 a la lista
print(List2 )

In [ ]:
List2.append("a")                      # Agregar el string "a" a la lista
print(List2 )

In [ ]:
List2.insert( 2 , "b" )               # Agregar el string "b" en la posicion 2 de la lista
print(List2 )

In [ ]:
List2.insert( 4 , 10 )                # Agregar el valor de 10 en la posicion 4 de la lista
print(List2 )

In [ ]:
List2.remove(10)                      # Quitar el valor de 1 de la lista
print(List2 )

In [ ]:
List2.reverse()                       # Invertir el orden de la lista
print(List2 )

In [ ]:
List = [10,130,14,1,16]
List.sort()                           # Ordenar la lista
print(List)

In [ ]:
idx = List.index(10)                  # Encontrar el indice del elemento que tiene valor 10 en la lista 
print(idx)

In [ ]:
List = [10,130,14,1,10,16,19,10]
idx =List.index(10,5)               # Encontrar el indice del elemento que tiene valor 10 en la lista 
print(idx)                          # despues de la posicion 2

**Ejercicio**
Crear una lista *lista_a* con los números  [1, 2, 3, 4, 20, 6, 7, 8, 9, 10], imprir y agregar el número 5 y quitar el 20, imprimir la lista

Ordenar la lista *lista_a* de forma ascendente e imprimirla

Encontrar el indice del elemento que tiene valor 1 en la lista

In [ ]:
# Respuesta

**Ejercicio**
Escribe tu nombre completo y separalo en una lista que contenga todos los elementos de tu nombre

In [ ]:
# Respuesta

# Conjuntos: 
Coleccion desordenada de elementos unicos

In [ ]:
basket = {'apple', 'eggs','banana', 'orange'}

In [ ]:
same = set(['apple', 'eggs','banana', 'orange' ])
print(basket == same)
print(type(same))

In [ ]:
same = set([ 'banana', 'eggs','apple','orange' ])
print(basket == same)

**Ejercicio**
Crear un conjunto "C" con todas las letras del diccionario en español, imprimir el conjunto "C"

Contar los elementos de "C" e imprimir el tamaño de este conjunto

In [ ]:
# Respuesta

## Diccionarios: 
Estructura de datos útil para guardar parejas ordenadas

**(key, value)**

In [ ]:
calories = {'apple': 52,
            'banana': 89,
            'choco': 546,
            'correo': "gbdiaz@imp.mx"}
print(calories,type(calories))

In [ ]:
my_data_1={'Nombres':"Alberto",'Apellidos':"GC",'e-mail':"email@imp.mx",'Edad':54}
my_data_1

In [ ]:
calories.items()

In [ ]:
calories["banana"]

In [ ]:
# Tuplas
c = (0, 1, 2, 3, 'cuatro', 'cinco')
print(c, type(c))

In [ ]:
print(c[0])      # Selecciona el primer elemento de la tupla

In [ ]:
print(c[5])      # Selecciona el último elemento de la tupla

In [ ]:
c.append(1)

In [ ]:
# Operaciones básicas
n_1 = 2
n_2 = 3

print('n_1 = {}, n_2 = {},\n n_1 + n_2 = {}'.format(n_1,n_2,n_1 + n_2))

In [ ]:

n_1 += n_2
print(n_1,type(n_1))
print('n_1 += n_2\n=> n_1 = {}'.format(n_1))

In [ ]:
n_1 = 2
n_2 = 3
print('n_1 = {}, n_2 = \'{}\' '.format(n_1, n_2))

In [ ]:
print('n_2 / n_1 = {}'.format(n_2 / n_1))

In [ ]:
n_2 = 5
print(n_1)
print(n_2)
print('n_2 // n_1 = {}'.format(n_2 // n_1))

In [ ]:
print('n_1 ** n_2 = {}'.format(n_1 ** n_2))

In [ ]:
print('n_1 % n_2 = {} \n'.format(n_2 // n_1))

In [ ]:
s_1  = 'uno'
s_2 = 'dos'
print('s_1 = {}, s_2 = {},\ns1 + s_2 = {}'.format(s_1,s_2,s_1 + s_2))

In [ ]:
s_1  = 1
s_2 = 2.34534
print('s_1 = {}, s_2 = {},\ns1 + s_2 = {}'.format(s_1,s_2,s_1 + s_2))

**Ejercicio**
Crear un diccionario con nombre my_data que contenga:
    
    1. Nombres 
    2. Apellidos
    3. E-mail
    4. Edad
    5. Grado de estudios
    6. Formación
    7. Lenguajes de programación

In [ ]:
# Respuesta

Crear un diccionaro "D" con todas las letras del diccionario en español y asignarles el número de letras, e.g. A tiene valor 1, B valor 2, etc

Imprimir cada letra con su respectivo valor

Seleccionar las letras de tu nombre y sumar los valores correspondientes a cada letra, imprimir tu nombre y el total de la suma

In [ ]:
# Respuesta

### Formatos de salida

In [ ]:
print('Flotante con 2 decimales: %.4f'%321.23576589)

In [ ]:
print('Flotante con 2 decimales: {0:.4f} '.format(321.23576589))

In [ ]:
print('Flotante en notación exponencial con un decimal: {0:.2e}'.format(321.23576589))

In [ ]:
print('Flotante:',321.23576589)

**Ejercicio** Crea una lista que se llame lista_vieja con los siguientes elementos [[1,1,1], [2,2,2],[3,3,3]] y busca su id de referencia en la memoria (usa el comando id()).

Iguala la lista_vieja con otra lista que se llame lista_nueva y busca el lugar de referencia de la nueva lista

lista_nueva = lista_vieja 


Prueba los comandos siguientes:

    lista_vieja == lista_nueva
    
    lista_vieja is lista_nueva

Adiciona la lista [4] a la vieja lista e imprime ambas listas

¿Qué puedes concluir?

In [ ]:
# Respuesta

**Ejercicio** Copia la vieja lista utilizando deep copy y nombrala lista_nueva_2 (importar librería copy, para copiar lista usar comando lista.copy())

import copy


Prueba los comandos siguientes:

    lista_vieja == lista_nueva_2
    
    lista_vieja is lista_nueva_2

Imprime los id's de referencia de la vieja_lista y de la lista_nueva_2

Adiciona la lista [5] en la lista_vieja e imprime lista_vieja y lista_nueva_2

¿Qué puedes concluir?

In [ ]:
# Respuesta